@import "fonts";
@import "vars";
@import "general";



@import "media";

// Start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
    .header__question {
        color: $color-red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    transition: background-color .3s;
}

.header__btn-login {
    background-color: $color-green;
    
}

.header__btn-login:hover {
    background-color: #56881c;
}

.header__btn-register {
    background-color: $color-red;
    margin-left: 7px;
}

.header__btn-register:hover {
    background-color: #a02d21;
}

.header__menu {
    background-color: $bg-color;
}

.menu {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    .menu__item {
        display: inline-block;
        .menu__link {
            font-family: 'Roboto-Medium', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
        }
    }
    .menu__item + .menu__item {
        margin-left: 30px;
    }
}

.menu__link:hover {
    border-bottom: 1px solid $color-green;
}

.search__btn:focus {
    outline-color: #fff;
}

// End header

// Start search

.search {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 533px;
}

.search__inner {
    padding: 159px 0px 100px;
    color: #fff;
    text-align: center;
    .search__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 10px;
    }
    .search__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    .search__form {
        position: relative;
        max-width: 670px;
        margin: 0 auto;
        .search__input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            padding-left: 25px;
            padding-right: 60px;
            outline-color:  rgba(124, 178, 64, 0.75);
            &::placeholder {
                color: #90a4ae;
            }
        }
        .search__btn {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
            cursor: pointer; 
        } 
    }
}

// End search

// Start products

.products {
    padding: 110px 0px;
    background-color: #f4f6f5;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    .product__mix-btn{
        font-size: 14px;
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg-color;
        cursor: pointer;
    }
    .product__mix-btn + .product__mix-btn {
        margin-left: 5px;
    }
    .product__mix-btn:focus {
        outline-color: $color-red;
    }
    .mixitup-control-active {
        outline-color: $color-red;
        background-color: $color-red;
        color: #fff;
        transition: all .3s;
    }
}

.products__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    .product__item-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    .product__item-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
    }

    .product__item-name {
        max-width: 310px;
    }

    .product__item-title {
        display: block;
        font-size: 18px;
        color: $bg-color;
    }

    .product__item-category {
        display: block;
        font-size: 14px;
        color: #8bc34a;
    }
    
    .product__item-price {
        font-size: 20px;
        color: $bg-color;
        font-weight: 700;
    }

    .product__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }

    .product__item-author {
        display: flex;
        align-items: center;
        max-width: 245px;
        .product__item-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-right: 14px;
        }

        .product__item-user {
            font-size: 14px;
            font-weight: 500;
        }
    }
   
}

.products__bottom-btn {
    text-align: center;
    .products__btn {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg-color;
        padding: 20px 30px;
        cursor: pointer;
    }
    .products__btn:focus {
        outline-color: $color-red;
    }
    .mixitup-control-active {
        outline-color: $color-red;
        background-color: $color-red;
        color: #fff;
        transition: all .3s;
    }
}

// End products

//start product-slider

.product-slider {
    margin: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;
    }

    .slick-dots li {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
    }
     
     button {
        border-radius: 50%;
        border: none;
        font-size: 0;
        height: 16px;
        width: 16px;
        cursor: pointer;
        background-color: #e8e8e8;
        outline-width: 0;
    }
    li.slick-active {
        button {
            background-color: #8bc34a;
        }
    }
}



//end product-slider

//start advantages

.advantages {
    background-color: #263238;
    padding: 110px 0;
}

.advantages__title { 
    color: #fff;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    transition: all .3s;
    border: 1px solid transparent;
    &-img {
        height: 114px;
        width: 114px;
        margin-bottom: 30px;
    }

    &-title {
        margin-bottom: 25px;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    &-text {
        font-size: 15px;
    }
}

.advantages__item:hover {
    border: 1px solid #324047;
}

//end advantages